[2019-01-06 14:40] johanstokking commented on #119
We took care of this in V3.

[2019-01-11 17:45] avbentem commented on #716
Just for future reference, from https://github.com/TheThingsNetwork/docs/pull/232#issuecomment-447736529:

But maybe that only applies to usage in Europe, not in, e.g., Israel.

[2019-02-11 22:39] johanstokking opened #753 "Make US915 FSB configurable"
This is a **feature request** for **the backend**.

Set a different FSB than 2 in US915.

Set up a private network.

Private network is fixed to FSB 2.

We probably need to make [this](https://github.com/TheThingsNetwork/ttn/blob/develop/core/band/band.go#L97) int configurable with default value `1` (zero-indexed).

[2019-02-13 08:55] #753 closed

[2019-02-18 10:15] htdvisser commented on #255
We will no longer do this for v2, but it will be done for v3: https://github.com/TheThingsNetwork/homebrew-lorawan-stack

[2019-02-18 10:15] #255 closed

[2019-02-18 15:38] htdvisser commented on #519
This will be supported in v3 through the `FORMATTER_GRPC_SERVICE`

[2019-02-18 15:38] #519 closed

[2019-02-18 15:44] htdvisser commented on #619
With #755 merged, I think we can close this one

[2019-02-18 15:44] #619 closed

[2019-02-18 15:46] htdvisser commented on #620
Information about MAC handling is published as events in v3.

We do not have support (and it is unlikely we will in the future) for triggering MAC commands from the application layer.

[2019-02-18 15:46] #620 closed

[2019-02-18 15:47] htdvisser commented on #622
We are not going to extend this in v2 anymore. The remaining MAC commands are implemented in v3.

[2019-02-18 15:47] #622 closed

[2019-02-18 15:49] htdvisser commented on #726
In v3 it is now possible to configure a network server with a custom frequency plan repository (typically a fork of https://github.com/TheThingsNetwork/lorawan-frequency-plans).

[2019-02-18 15:49] #726 closed

[2019-02-18 16:11] htdvisser commented on #749
I submitted https://github.com/TheThingsNetwork/lorawan-stack/pull/155 for v3 to only render the contents, and leave the braces/brackets out. Toggling through different array/list styles for different languages wouldn't improve the user experience.

[2019-02-18 16:11] #749 closed

[2019-02-18 16:13] htdvisser commented on #748
We're not going to make changes to v2's MAC handling. The v3 implementation is rewritten from scratch, and should handle unknown MAC commands just fine.

[2019-02-18 16:13] #748 closed

[2019-02-24 09:53] Maverick10 opened #756 "TTN Integration: Issue with AWS IoT Integration"
I'm trying to integrate AWS IoT with TTN. When trying to create the cloudformation stack I'm faced with this error
`No Solution Stack named '64bit Amazon Linux 2018.03 v2.10.0 running Go 1.11.4' found. (Service: AWSElasticBeanstalk; Status Code: 400; Error Code: InvalidParameterValue; Request ID: 27a55fac-ef00-4ee2-8c06-fcc024e23836)`

Integrate AWS IoT with TTN

Followed this [quick start](https:

[2019-02-24 10:17] Maverick10 commented on #756
I managed to solve the problem by editing the TTN CloudFormation template and uploading it.
I opened the [TTN CloudFormation template](https://s3.amazonaws.com/thethingsnetwork/builds/integration-aws/dist/cloudformation.template) and downloaded. Under `Resources` there is `TTNConfigurationTemplate`, I changed its `SolutionStackName `to `64bit Amazon Linux 2018.03 v2.10.1 running Go 1.11.5`

If you

[2019-02-24 10:17] #756 closed

[2019-02-25 09:30] johanstokking commented on #756
@Maverick10 thanks for reporting. An updated version is being built and pushed right now.

10 karma points for someone who knows how to specify some kind of "latest" here.

[2019-03-05 10:15] davidonet opened #757 "ADR request is not sent"
I have a gateway connected to ttn in my office.
I registered a device, sending an uplink every 3 minutes, wait at least 24 hours placed 5 meters from the gateway. When I checked on console, the uplinks are still in SF12.
I checked the downlink : it works.

I was expected in https://www.thethingsnetwork.org/docs/lorawan/adr.html an ADR :
Point 3 :

I've never seen this downlink, my device have ADR

[2019-03-08 15:39] htdvisser commented on #757
This should be better with #758 merged. This isn't deployed yet to the public community network. Assigning @Sypheos to test this. If everything is ok, we can create a PR to master and release+deploy a new version. cc: @johanstokking

[2019-03-12 19:14] Gausul opened #759 "Gateway Getting data also visible in gateway received message but not visible in device"

[2019-03-14 12:24] johanstokking commented on #759
Hi @Gausul, can you reopen the issue filling out the issue template?

[code]

[2019-03-14 12:24] #759 closed

[2019-03-24 20:51] kizniche commented on #646
I recently had The Things Network stop the movement of all my data from my gateway to my apps due to going over the 30-second daily limit (not just the offending app/device, but ***all*** of my apps, even the ones not exceeding 30 seconds/day). This was due to using the App airtime estimate. Using the gateway airtime, data began appearing in my apps again. I see reporting incorrect airtime (or cal

[2019-03-25 07:53] htdvisser commented on #646
Hi @kizniche, the 30-second daily limit is not enforced; we don't even have any code to do that, so I can with 100% certainty say that the lack of traffic was not caused by this.

[2019-03-25 12:06] kizniche commented on #646
Thank you for the clarification. Perhaps it's just a coincidence they all stopped. I'll have to investigate further.

[2019-04-16 19:43] dmamalis opened #761 "Data pushed by mobile gateways should be excluded from the ADR algorithm"
This is a **feature request** for **the backend**.

We plan to install some moving gateways. These gateways can assist in covering hard to reach areas. However, when they move within coverage of other gateways they might cause issues to the ADR algorithm.

Should we have a way to mark gateways as moving gateways? Could messages being uploaded by the moving gateways be flagged in a way so that they

[2019-05-20 17:46] enthutech commented on #718
You can visit https://www.youtube.com/watch?v=BqUpkWl_EsQ&list=PLDQtDl_T-tm3ehh4iCMY--CWnrDXh1nDB&index=3 for video tutorials on dragino product working

[2019-06-10 16:25] kuoyaoming93 opened #762 "TTN Downlink with another frequency plan"
This is a bug report for the backend of ttn...

I'm using the B-L072Z-LRWAN1 ST Board in order to communicate with TTN. I can send do the uplink with the frequency band EU868, but when I want to do a downlink, it responds with another frequency band..
I am using a ESP + SX1286 as a single channel gateway: https://github.com/things4u/ESP-1ch-Gateway-v5.0

Screenchots:

![downlink](https://user-imag

[2019-06-10 16:34] kuoyaoming93 commented on #762
After some time (30 minutes) it changes. Because I was using US915 and then changed to EU868. It takes time to backend..

![change](https://user-images.githubusercontent.com/18518739/59210657-77997380-8b84-11e9-9ab1-51f99a8f1830.png)

[2019-06-10 16:34] #762 closed

[2019-06-19 05:31] edgale opened #763 "Can't copy data"
This is a **bug report/question** for **the website/the console**.

I got a application set up and in there a view sensors. I want to copy the data from a message of a sensor, but can't because the message is to long. I can't mark the data and copy and can't reach the copy button.

![image](https://user-images.githubusercontent.com/4374065/59739164-0cc2f900-9264-11e9-8e7f-626a1adb5112.png)

Google

[2019-06-19 14:52] htdvisser commented on #763
When I single-click on any character in the payload field, the entire field is selected. Have you tried that?

@kschiffer @bafonins I don't think we'll fix this for v2 anymore, but please confirm that in v3 large payloads also render properly.

[2019-06-21 04:50] edgale commented on #763
Hi @htdvisser , thanks for your reply. I tired clicking on any character but nothing happens. I can't select the data.

[2019-06-21 08:34] htdvisser commented on #763
Ah sorry, I overlooked that you're using Chrome. It works in my Firefox, but when I try to copy the contents of the bytes field in Chrome, I can only do that with the copy button. There seems to be a `user-select: none` in there somewhere that prevents selection.

[2019-06-21 08:39] htdvisser opened #764 "Export devices as V3 JSON"
This is a **feature request** for **ttnctl**.

I want to migrate devices from v2 to v3.

- In v2: `ttnctl devices list`, `ttnctl devices info [id]`
- In v3: `ttn-lw-cli end-devices create ...`

It's too much work. It would be a lot easier if there was a `ttnctl devices export [id]` that would print V3 JSON so that I can pipe it directly into `ttn-lw-cli end-devices create`.

Yes

[2019-06-21 08:40] htdvisser commented on #764
When this is done and working, we may want to add the same to the console.

[2019-06-28 11:47] adrianimboden opened #765 "ipv6 only http integration target"
Hi

I have a question. We use the http integration to forward the received data to our backend application.
We have many of those (prod, testing, devel, ...). The developement instances are ipv6 only (as we don't have multiple ipv4 addresses, this seemed to be a viable solution).

The problem is, I don't see packages coming into the ipv6 targets while it works for ipv4 targets.

- Is there a possi

[2019-06-28 11:57] johanstokking commented on #765
I'm assuming you're referring to V2, not V3, hence the transfer of this issue to the right repository.

In V2 with the current host, we do not support IPv6 unfortunately.

[2019-06-28 11:58] #765 closed

[2019-06-28 12:16] adrianimboden commented on #765
:+1: ok thank you

[2019-07-14 14:33] jpmeijers opened #766 "FSK uplinks does not appear on console"
This is a bug report for the backend.

Uplinks on the FSK channel.

Do an OTAA join. Configure the FSK channel manually as the network does not configure it. Force the device to DR7 (FSK).

The uplinks are transmitted. I can see them on the air using an rtl-sdr dongle. I can also see my gateway receives the packets. When telling the gateway to forward packets to my own computer I can see them bein

[2019-08-14 06:19] sigmaroot opened #767 "RX2 fallback leads to endless downlinks"
#### Summary
If a MAC command sent in RX2/**SF9** was not answered by an end node, the NS is using RX2/**SF12** as a fallback. In case that the end node IS listening on RX2/**SF9** and just missed the MAC command (due to temporarely unavailability or bad reachability) it will never receive the fallback MACs on RX2/**SF12**. In that case, again no answer is sent by the end node and the NS starts re

[2019-08-26 15:16] haorfani commented on #697
I am still having trouble with this issue. If I schedule a downlink message from an application, it is sent forever. Is there a way to stop it?

[2019-08-27 09:02] johanstokking commented on #697
@haorfani that should not happen. Are you sending confirmed downlink and is the downlink not confirmed by the end device, by chance? Because in that case it works as expected.

[2019-08-27 09:11] haorfani commented on #697
By this you mean that the end device should send a ACK packet back to the GW right?

[2019-08-27 09:36] haorfani commented on #697
OK I fixed it, it was my own bug after all. Thanks for the response though!

[2019-09-11 12:21] mpouillot commented on #767
It is a important bug, i have few clients which lost its devices due to this bug. I think in OTAA, there is no need to change the SF of the RX2 after the join-accept. If the device receives the join-accept then it is configured to receive in SF9 on RX2.

For ABP, I think it should be better to configure by using the RX1 window....

[2019-09-13 10:32] sigmaroot commented on #767
I don't know if everything is correct and compilable (my first contribution in GO 😀), but I've implemented the suggestions of @htdvisser.

Some things to remind: The `activatedAt` field is never reset to **nil**, I don't know if that has to be done if the device is changed over to ABP or if a new device is registered in that case. I couldn't find any source code for that case. Additionally I found

[2019-09-28 21:24] jpmeijers commented on #767
I'm currently also affected by this. One of my devices joined using OTAA. Then we had the recent gateway outage and the device never received downlinks. The device (ADR) therefore moved all the way to SF12. Using an SDR I can see it is transmitting on SF12 and the downlinks are also sent on SF12, not on SF9 like it should be.

@sigmaroot @htdvisser how can I assist getting this bugfix tested and o

[2019-09-28 21:36] jpmeijers commented on #767
Looking at the fallback code, the [line that does the fallback magic](https://github.com/TheThingsNetwork/ttn/blob/1425501427da1c1d9a66a27c6014ced068571af5/core/networkserver/uplink_mac.go#L104) is:
`loraSettings.DataRate = "SF12BW125"`

Can't we change that line to:
[code]

With this change (if I understand the code correctly) we will alternate between the incorrect (SF12) downlink and the correc

[2019-10-02 10:08] jpmeijers commented on #767
I'm still stuck with one deployment because of this bug.

Steps to reproduce:
* Only one gateway should be in reach of the device
* Make the device join using OTAA and make sure ADR is switched on
* Over night switch off the gateway
* The next day switch the gateway back on
* The gateway will receive the device on SF12 and downlinks will be sent (ADR, ACK)
* Downlinks are ignored/not received by t

[2019-10-02 10:59] sigmaroot commented on #767
@jpmeijers
Please have a look into my commit mentioned earlier: edbe65d5a9a5e04c555166a0fa0b5fb4a712c5b7

[2019-10-02 13:32] allesklarbeidir commented on #544
Looks like there's no button yet, but is it possible to do so by any means?
If I register the device with all parameters being the same in a new application, nothing shows up.
The device address is generated automatically, so I can't set it to the same value.

[2019-10-10 19:49] terrillmoore commented on #767
I think there are two different discussions here. One is regarding privately hosted work, another is regarding existing apps deployed using TTN. As I don't have a privately-hosted V2 network, changes for private networks are interesting but don't address our issues. @htdvisser Will pushing a change request on the V2 code make it to production, or is TTN V2 basically frozen at this point, or is the

[2019-10-11 13:08] htdvisser commented on #767
As you can imagine, we're trying to spend all our time on v3 and only do really critical things on v2. Of course we do welcome contributions, so if you're willing to implement a fix and test it on a private network, I'll make sure it gets merged and deployed to the public community network.

[2019-10-14 19:25] jpmeijers commented on #767
I see this as a critical issue as it causes some of my devices to be stuck on SF12, sending retries and draining their batteries. It also prevents me from having remote control of these devices.

Because of this I tried the suggestions in this thread, implemented them on a private instance of the stack on my local computer, and tested. PR #768 contains a working fix.

[2019-10-15 05:03] mpouillot commented on #767
Exactly, It is a critical issue on public ttn V2. We lost a lot of devices in downlink...

Best regards,

Mathieu Pouillot
Ingénieur Responsable Produit
Tél. : +33(0)4 98 01 60 06

nke Watteco
Valgora Bat C
Avenue Alfred Kastler
83160 LA VALETTE DU VAR – France
http://www.nke-watteco.fr
http://www.nke-watteco.com

________________________________
De : JP Meijers <notifications@github.com>
Envoyé :

[2019-10-15 06:09] #767 closed

[2019-10-15 06:16] sigmaroot commented on #767
Thanks for contributing 😄
I'm going to investigate the functionality of this fix the next couple of days with our test devices.
Restarting our production devices afterwards.

[2019-10-15 09:12] jpmeijers commented on #767
I just realised this fix will only be applied to devices that join after the fix is applied. Devices that are using a session from a join before today will still suffer from this bug. On my side that means half of my devices (that automatically rejoins periodically) are now working as expected, while the other half (which never performs a re-join) will still not receive downlinks.

[2019-11-09 15:20] hiyasbie commented on #745
Hello, I have the same problem as this. I clicked reset frame counters and now I can't see data from my node/device in my TTN console. How to solve this? thank you.
by device/factory reset, meaning click the reset button(next to LED) from lopy4?.. thanks. (newbie here)

[2019-11-10 08:59] johanstokking commented on #745
@hiyasbie this is too specific to the device and the software to answer this here. Please consult the forums; https://www.thethingsnetwork.org/forum

[2019-11-22 14:47] htdvisser commented on #764
Work started in https://github.com/TheThingsNetwork/ttn/compare/feature/v3-export

@rvolosatovs please see what other fields we may need to transfer when migrating existing devices from v2 to v3.

[2019-11-24 15:15] 4flixt commented on #183
Is this feature still working as desired? I was subscribing to something like
```<AppEUI>/devices/<DevEUI>/up/temperature```
which worked until a couple of days back. I checked and the full messages are still received via MQTT if I sub to:
```<AppEUI>/devices/<DevEUI>/up```
which is the case. MQTT explorer also wasnt able to directly obtain the different payload fields anymore (this used to work,

[2019-11-25 06:17] johanstokking commented on #183
We didn't change anything there. What happens if you subscribe to `<AppEUI>/devices/<DevEUI>/up/#`?

[2019-11-25 06:52] nottheedge commented on #183
Could it be related to that -> [TTN in maintenance ](https://status.thethings.network/)

[2019-11-25 13:14] 4flixt commented on #183
Yes! Thank you. I also just found this today.

[2020-01-03 14:55] Oliv4945 opened #770 "Unable to create device thanks to HTTP API"
This is a bug report for the backend

Add a device to an application thanks to HTTP API

Do a `POST` request to `http://eu.thethings.network:8084/applications/my_app_id/devices/my_dev_id` with content

[code]

Answer is `permission denied`, also `hivemind_dev_1` is **not** my app_id
[code]

If think that my request is ok as I get the right answer when I manually create the device in the console an

[2020-01-10 08:56] htdvisser commented on #770
It looks like the AppEUI/DevEUI combination is already taken by another device in this NetworkServer. That device seems to be registered in `hivemind_dev_1`, and you indeed don't have permission to update it.

[2020-01-13 10:14] #770 closed

[2020-01-14 09:14] Oliv4945 commented on #770
Hi,

What is surprising is that I can register the device with same AppEui/DevEui in the console, but not the API

[2020-01-16 18:05] tvandergeer commented on #756
Not (yet) a solution for your karma-bounty for a "latest" parameter, but just a short note that the template needs a new update for the SolutionStackName: "64bit Amazon Linux 2018.03 v2.14.1 running Go 1.13.2"

[2020-01-17 08:39] johanstokking commented on #756
Thanks, mentioning the solution stack name is already very helpful.

CI and CD is currently running

[2020-01-17 12:10] tvandergeer commented on #756
Great! Thanks for picking this up instantly. Can I view the outcome of the CI/CD somewhere?

[2020-01-18 12:39] johanstokking commented on #756
It took about 15 minutes, see updated version in the same place: https://s3.amazonaws.com/thethingsnetwork/builds/integration-aws/dist/cloudformation.template

[2020-01-19 20:26] georgevanvliet opened #771 "Application Manager http proxy is not secured with an SSL certificate"
This is a **bug report** for **the backend/application manager**

I want to talk to the application manager api through a **secure** http proxy

The TTN application manager has [two endpoints](https://www.thethingsnetwork.org/docs/applications/manager/):
* gRPC endpoint, which supports TLS and has [**deprecated**](https://github.com/TheThingsNetwork/node-app-sdk#readme) SDKs for it
* http endpoint

[2020-01-19 21:28] pvgennip commented on #771
Same problem here, please provide it with an SSL certificate.

Thanks in advance for securing this HTTP proxy.

[2020-02-10 15:19] loicgillioz commented on #544
+1

[2020-02-11 08:53] johanstokking commented on #544
This is supported in V3 via device claiming. We won't support this in this repo, V2.

[2020-02-11 08:53] #544 closed

[2020-02-14 15:19] thezenox commented on #770
I am facing the same problem (using node.js, but don't matter). Tried generating different AppEuis and DevEuis, all with `permission denied: No "devices" rights to Application "ttn-tools"` -also not mine. register in web console works with same parameters.

[2020-02-27 23:44] ama9910 opened #772 "Devices reject ChMask in LinkADRAns"
This is a bug report for the Australia TTN public cluster.

What do you want to do?
Get Netvox end devices working again

Since the deployment of V2.10.3 on the AU public instance we have been seeing issues with a particular brand of sensor, Netvox, on the AS923 band plan. In particular we have been testing with a Netvox R712 Temperature/Humidity sensor.

* The device sends an OTAA join-request
*

[2020-03-09 15:42] sandruen opened #773 "Location information of TTN Indoor Gateway"
This is a question about the location information of the TTN Indoor Gateway.

I want to see the latitude and longitude of my gateway in the metadata of the sent packets.

I registered the TTN Indoor Gateway in the console, set a location in the gateway, set all three privacy parameters to public.
My gateway is visible on the TTN map and on TTNMapper.

In the the TTN console of my device I see the

[2020-03-16 10:10] avbentem commented on #767
As ADR-enabled OTAA devices that joined before October 2019, and all ADR-enabled ABP devices are still running into this<sup>†</sup>, **I wonder if it would be worthwhile to fix this for those in V2 too?**

**ONLY IF YES**, then I wonder:

1. Is there any reason why ABP devices were excluded from making the fallback less persistent?

   @sigmaroot's [suggested](https://github.com/TheThingsNetwork/

[2020-03-24 13:33] jpmeijers commented on #773
This is a known issue with Basic Station protocol gateways that connect to the V2 TTN stack. @KrishnaIyer explained this on Slack a couple of months ago.

[2020-04-20 11:01] johanstokking commented on #764
@neoaggelos is taking this over

@htdvisser can you let @neoaggelos know if the branch that you mentioned is still relevant and like we want this to be?

[2020-04-20 11:20] htdvisser commented on #764
This was practically done. Only thing left was for @rvolosatovs to confirm what MAC settings need to be set in the network server.

[2020-04-20 15:15] johanstokking commented on #764
OK. @neoaggelos please coordinate with @rvolosatovs and file an issue in `lorawan-stack` for documenting migrating devices from V2 to V3 via CLI.

[2020-04-21 21:25] neoaggelos commented on #764
There is https://github.com/TheThingsNetwork/lorawan-stack/issues/1685

[2020-04-29 00:58] neoaggelos commented on #764
I'm having trouble telling apart OTAA from ABP devices from v2 with ttnctl. What I've seen is that all devices (both OTAA and ABP) have `ActivationConstraints` equal to `Local`. The console seems to be  telling them apart by looking up the usages for devaddr prefixes in https://console.thethingsnetwork.org/api/handlers.

`ttnctl discover broker --metadata` is the closest I can get, but it does not

[2020-04-29 05:11] Recodify opened #775 "Device Description is being lost"
This is a bug report for the console

Update a device description

1. Edit the device description using the console. (Device settings tab)

Description shows against the device briefly but then is lost. The same behavior has been noted using the application manage http api.

This only seems to affect this single application, not seen the issue with others but this application has been reflecting t

[2020-04-29 08:00] johanstokking commented on #764
I don't think you can get this from the Handler, but you should be able to get this from the V2 NS.

[2020-04-29 08:25] htdvisser commented on #764
The v2 API only allows talking to the Handler, so you can't talk to the NetworkServer.

The difference between OTAA and ABP devices in v2 is that OTAA devices have an AppKey and ABP devices don't.

[2020-05-03 20:25] #764 closed

[2020-05-10 13:37] HouzuoGuo opened #779 "Please put an explanation of "retry" label on the device console"
This is a **feature request** for **the console**.

Understand what the term "retry" means in the

Create a simple program that sends short packets to TTN and inspect uplink data packets in the console.

The data packets are regular packets without confirrmation requirement.

The console shows a perculiar term "retry" next to several uplink data packets. The label "retry" is not accompanied by an

[2020-05-10 16:35] jpmeijers commented on #779
Interesting question. It's however not a simple answer. I'm not part of the TTN team, but I will try and explain how I interpret this "retry" message. This is also on the V2 stack, and development focuses on V3 now.

In normal situations a device sends uplink packets, every time incrementing the frame counter. It should therefore never happen that you see more than one packet with the same frame c

[2020-05-10 16:42] HouzuoGuo commented on #779
@jpmeijers thanks :) your thorough explanation is magnitudes more helpful than the rudimentary "retry" label, now I understand that in the screenshot retry simply means that the device is sending packets while reusing frame counter value.

[2020-05-14 10:56] KateGo520 opened #780 "Cannot get latest version: module contains a go.mod file, so module path should be github.com/TheThingsNetwork/ttn/v2"
## Background
The `github.com/TheThingsNetwork/ttn` uses [Go modules](https://github.com/golang/go/wiki/Modules) and the current release version is `v2`. And it’s module path is `"github.com/TheThingsNetwork/ttn"`, instead of `"github.com/TheThingsNetwork/ttn/v2"`. It must comply with the specification of "Releasing Modules for v2 or higher" available in the Modules documentation. Quoting the spec

[2020-05-15 09:40] htdvisser commented on #780
Good bot, @KateGo520,

Won't fix. This repository is in legacy mode.

---

Our new version (v3) can be found here:

Import path `go.thethings.network/lorawan-stack/v3`
Repository: https://github.com/TheThingsNetwork/lorawan-stack

[2020-05-22 23:31] avbentem commented on #748
Just for the sake of future readers:

The symptoms I reported (and then removed) might be real: [a new forum post](https://www.thethingsnetwork.org/forum/t/missing-messages-between-gateway-and-application/37261/9) seems to show that encountering `DeviceTimeReq` indeed makes further handling fail.

However, I think my analysis of the cause was wrong: the actual parsing of the MAC commands is done [

[2020-06-21 04:56] pradeeka7 commented on #697
I have the same issue with my RAKwireless 7205 tracker. This happened from the second day. First day it worked well. I haven't yet restarted the tracker.

I'm sending UNCONFIRMED messages. I can't send confirmed messages because the latest firmware has a bug (I guess).

![image](https://user-images.githubusercontent.com/36432168/85216984-fa185e00-b3a8-11ea-8e41-14bfd19d292d.png)

[2020-06-21 07:45] jpmeijers commented on #697
Downlinks on port 0 are mac commands. Most likely what you are seeing is the ADR downlinks telling your device to go to a faster datarate and/or lower output power.

[2020-06-25 08:10] normie7 opened #781 "Add IsConnectionOpen() to mqtt client"
This is a **enhancement** for **mqtt client**.

Current documentation for Client.IsConnected() does not represent underlying implementation and there is no way to actually know if the client is connected. [https://github.com/TheThingsNetwork/ttn/blob/develop/mqtt/client.go#L264](https://github.com/TheThingsNetwork/ttn/blob/develop/mqtt/client.go#L264)

It returns true not only when the client is c

[2020-06-28 09:58] KateGo520 commented on #780
@htdvisser Thank you for your reply ! :D

[2020-07-27 21:04] Oliv4945 opened #782 "Link ADR loop on US915"
This is a bug report for the backend

Use TTN V2 with a 8 channels gateway with US915 region. Frequency plan configured as per [this file](https://github.com/TheThingsNetwork/gateway-conf/blob/master/US-global_conf.json)

Start the device, join the network, then wait for the first uplink

A link ADR loop is created:

The network sends : `JSON down: {"txpk":{"imme":false,"tmst":842666298,"freq":927

[2020-07-28 20:46] davideori commented on #782
To help in debugging, @Oliv4945 can you please confirm that this issue is not present in TTN V3?

Thanks

[2020-07-29 10:01] johanstokking commented on #782
Unfortunately we're not going to fix this issue in V2 anymore. It would require extensive testing to deploy changes at this point, if it would indeed be identified as bug.

[2020-07-29 10:01] #782 closed, assigned to htdvisser

[2020-08-21 05:31] ymgupta opened #786 "Improve downlink rate limit of handler"
Improve the downlink rate limit of the handler

Recreated routing services as per the procedure, after that for a brief period downlinks were not routed back to devices with warnings in broker container.

There is a hard limit of 125 downlinks per second (https://github.com/TheThingsNetwork/ttn/blob/master/core/broker/server.go#L135)
Due to which the following error is seen in the broker
2020-07-1

[2020-08-22 09:37] Remboooo commented on #770
I was facing the same problem: could register the device just fine in the console, but got this error through the API. Using the console to change the handler for the application over from `ttn-handler-eu` to `digitalcatapult-uk-handler` fixed it for me.

EDIT: apparently digitalcatapult just does less error checking; the call I was doing ended up making devices with empty DevEUI, empty AppEUI, et

[2020-08-31 08:15] Oliv4945 commented on #782
Ok, thank you

[2020-10-02 08:34] neoaggelos opened #787 "`ttnctl export-all` does not export frame counters and last seen fields."
This is a **bug report** for **ttnctl**.

Export all end devices from a v2 application, including their frame counters.

`GetDevicesForApplication` does not query the Network Server, and thus it does not retrieve their frame counters. The final export has 0 values for these fields.

yes

[2020-11-17 15:06] cnoork opened #789 "ttnctl failed to export devices in TTI"
This is a question for ttnctl.

make an export from devices in TTI

login, make successful list of applications

get an error when doing an export from a device

yes, as clear text

Windows 10

app-eui: officesense_development
dev-eui: deveui-3135343050376d11

see logging

see log files

no
[failed to export 20201117.txt](https://github.com/TheThingsNetwork/ttn/files/5554292/failed.to.export.20201

[2020-11-18 10:36] cnoork commented on #789
When I use the commands in my TTN it is working as long there is only one AppEUI defined, when there are multiple AppEUI in the application it will fail, looks like the second query the header is not filtered for answer index:

===============

      INFO Found 6 applications:

            ID                                      Description
    1       connected-office-experience-comfort
    2

[2020-11-18 12:41] cnoork commented on #789
For TTN I get the expected result with the following command:

The only trouble is how to get a list from all AppEUI's in an application through the command line. --> just noticed when there is one excising is selected all devices are listed.

But still the need is that it is working for TTI, TTN is only to explore the commands.

[2020-11-30 07:55] neoaggelos commented on #789
Hi @cnoork,

For migrating from The Things Network Stack V2 (e.g. The Things Network) to The Things Stack (V3), please use [`ttn-lw-migrate`](https://github.com/TheThingsNetwork/lorawan-stack-migrate) instead, as `ttnctl` is not actively maintained. See [instructions](https://github.com/TheThingsNetwork/lorawan-stack-migrate#the-things-network-stack-v2).

In order to work with The Things Stack (V3

[2020-12-11 08:58] MoShawa commented on #140
So, what is the benift of using Single Channel Gateway ? just for monitoring purposes like: Temperature and Humidity. and can we actuate something using Arduino ?
SCG is only support one direction either: Uplink/ Downlink ?

[2020-12-11 09:55] htdvisser commented on #140
Back in 2016 the high cost of a multi-channel gateway were the biggest reason for people to build single-channel gateways. Nowadays you can get a multi-channel gateway for less than $70, so there really isn't a good reason for using single-channel gateways anymore. There is however a very good reason for not using them: **single-channel gateways are not LoRaWAN compliant**.

[2020-12-11 10:15] ghost commented on #140
Thanks for your reply. Actually I am working on a Lora iot development kit comes with single channel gateway for Graduation's project. And I do not what is an architecture can be built with this system. Any suggestions?

 Regards,
Moshawa

[2020-12-14 13:30] htdvisser commented on #140
If you have a single-channel gateway, you're technically building a LoRa network (without the WAN of LoRaWAN). The Things Network is really about LoRaWAN nowadays, so if you try to build something with a single-channel gateway, that may not work properly.

[2020-12-14 14:21] ghost commented on #140
Aim to unsupported lora module on TTN. I moved to  build a server through  mqtt broker via  thingspeak cloud provider. So, i am able to send temperature & humidity to Thingspeak and meanwhile getting txt msgs from it to lora node.

Any idea for upgrading it ?

[2020-12-14 14:23] ghost commented on #140
Please kindly attached this link for architecture i am not able to attach the picture from my phone.
https://www.google.com/search?q=mqtt+with+lora&client=ms-android-oppo-rvo3&prmd=vin&sxsrf=ALeKk02kc4So77w1pnbdMhFGWfwLShFVmA:1607955751053&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj9iOz61c3tAhXOGewKHbdQAq0Q_AUoAnoECAcQAw&biw=360&bih=664#imgrc=cgWeSENf07p9qM

[2020-12-18 20:11] cnoork commented on #789
Hi neoaggelos,

Why is there no clue added for the TTI subscription. I tried several options but they are all failing. please give me an example  from a working command.

With kind regards,
Chris

[2020-12-29 22:08] neoaggelos commented on #787
Won't do. https://github.com/TheThingsNetwork/lorawan-stack-migrate should be used instead.

[2020-12-29 22:08] #787 closed, assigned to nobody

[2021-02-05 06:14] wizzfizz94 commented on #773
Also interested in finding more information about this issue. Will this be fixed in v3?

[2021-03-03 08:42] josmanperez opened #790 "Contribute to a new Integration"
Hello!,

I've been working with microprocessors and IoT for some time now but I haven't tried Lora before. I am very new to this world and I would love to contribute while learning.

I sent an email regarding how can I collaborate in creating a new [integration](https://www.thethingsnetwork.org/docs/applications/integrations.html) and they suggested me to write a **question** over the Github repo,

[2021-03-03 09:31] jpmeijers commented on #790
Github isn't the right place for questions like these either. Whoever guided you here was mistaken.

Please ask your question on the Forum:
https://www.thethingsnetwork.org/forum/

Or chat to the other TTN community members over on Slack:
https://thethingsnetwork.slack.com/

[2021-03-03 09:42] josmanperez commented on #790
Hello @jpmeijers , thank you for your answer and sorry for asking the question in the wrong place. I've sent an email to ask_us_everything@thethingsnetwork.org and they guided me through here.

How can I write a comment in the forum? as I don't see an option to do it (sorry if this a silly question)

Regards!

[2021-03-03 09:42] #790 closed, assigned to nobody

[2021-03-08 16:39] htdvisser commented on #772
We're not going to fix this in v2 anymore.

[2021-03-08 16:39] #772 closed

[2021-04-17 05:35] #757 closed

[2021-06-03 13:03] htdvisser commented on #629
This is not going to get fixed in V2.

The Things Stack (V3) does not have this issue.

[2021-06-03 13:03] #629 closed

[2021-06-03 13:04] htdvisser commented on #688
This is not going to get fixed in V2.

The Things Stack (V3) does not have this issue.

[2021-06-03 13:04] #688 closed

[2021-06-03 13:04] htdvisser commented on #593
This is not going to get fixed in V2.

[2021-06-03 13:04] #593 closed

[2021-06-03 13:05] htdvisser commented on #661
This is not going to get fixed in V2.

The Things Stack (V3) does not have this issue.

[2021-06-03 13:05] #661 closed

[2021-06-03 13:06] htdvisser commented on #706
This is not going to get fixed in V2.

For v3 we're tracking this feature in https://github.com/TheThingsNetwork/lorawan-stack/issues/3864

[2021-06-03 13:06] #706 closed

[2021-06-03 13:07] htdvisser commented on #707
We won't fix this for the V2 Account Server, but we'll keep it in mind for The Things ID

cc: @bafonins

[2021-06-03 13:09] htdvisser commented on #477
This won't be implemented in V2 anymore.

V3 is more aggressive with ADR, and uses an extra "safety margin" when it doesn't have enough measurements yet.

[2021-06-03 13:09] #477 closed

[2021-06-03 13:19] htdvisser commented on #711
This is not going to be added in V2 anymore, but the mapping API of Packet Broker [includes the frequency plan of the gateway](https://github.com/packetbroker/api/blob/master/mapping/v2/openapi.tmpl.json#L418).

[2021-06-03 13:19] #711 closed

[2021-06-03 13:19] htdvisser commented on #375
This is not going to get implemented in V2 anymore.

[2021-06-03 13:19] #375 closed

[2021-06-03 13:20] htdvisser commented on #636
This is not going to get implemented in V2 anymore. It is implemented in The Things Stack (V3).

[2021-06-03 13:20] #636 closed

[2021-06-03 13:20] htdvisser commented on #730
This is not going to get implemented in V2 anymore.

[2021-06-03 13:20] #730 closed

[2021-06-03 13:21] htdvisser commented on #732
This is not going to get fixed in V2. The Things Stack (V3) should not have this problem.

[2021-06-03 13:21] #732 closed

[2021-06-03 13:21] htdvisser commented on #731
This is not going to get fixed in V2 anymore.

[2021-06-03 13:21] #731 closed

[2021-06-03 13:22] #738 closed

[2021-06-03 13:22] #743 closed

[2021-06-03 13:22] #752 closed

[2021-06-03 13:23] #646 closed

[2021-06-03 13:23] htdvisser commented on #763
This isn't going to get fixed in V2 anymore, and it should work okay in The Things Stack (V3).

[2021-06-03 13:23] #763 closed

[2021-06-03 13:24] htdvisser commented on #766
This isn't going to get fixed in V2 anymore.

[2021-06-03 13:24] #766 closed

[2021-06-03 13:24] htdvisser commented on #771
This isn't going to happen in V2 anymore. In V3 all APIs use HTTPS.

[2021-06-03 13:24] #771 closed

[2021-06-03 13:25] htdvisser commented on #775
This isn't going to get fixed in V2 anymore. V3 should not have this problem.

[2021-06-03 13:25] #775 closed

[2021-06-03 13:25] #779 closed

[2021-06-03 13:25] #781 closed, assigned to nobody

[2021-06-03 13:26] htdvisser commented on #786
This isn't going to get fixed, but the migration tool now respects the V2 rate limits.

[2021-06-03 13:26] #786 closed, assigned to nobody

[2021-06-03 13:26] #780 closed, assigned to nobody

[2021-06-03 13:30] htdvisser commented on #773
This is not going to get fixed in V2 anymore.

It should work when your gateway is connected to V3, but there is still some confusion about how it works exactly. This is tracked in https://github.com/TheThingsNetwork/lorawan-stack/issues/4218.

[2021-06-03 13:30] #773 closed

[2021-06-03 13:30] htdvisser commented on #746
This is not going to get fixed in V2 anymore.

[2021-06-03 13:30] #746 closed

[2021-06-03 13:30] htdvisser commented on #745
This is not going to get fixed in V2 anymore.

[2021-06-03 13:30] #745 closed

[2021-06-03 13:36] htdvisser opened #791 "⚠️ TTN V2 is no longer maintained. Migrate to The Things Stack (V3) ⚠️"
**Important:** The Things Network is moving to The Things Stack (V3)

The GitHub repository for The Things Stack is https://github.com/TheThingsNetwork/lorawan-stack

Registrations of new gateways, applications and devices in The Things Network V2 clusters will be disabled in **June 2021**.

The Things Network V2 clusters will shut down in **December 2021**.

Register new applications in a The Thi

[2021-06-08 07:45] neoaggelos commented on #789
We will not fix any possibly bugs in `ttnctl devices export-all`. [`ttn-lw-migrate` ](https://github.com/TheThingsNetwork/lorawan-stack-migrate) should be used instead.

Refer to the tool's [README.md](https://github.com/TheThingsNetwork/lorawan-stack-migrate/blob/master/README.md) on GitHub and the [Migrate using the Migration tool](https://www.thethingsindustries.com/docs/getting-started/migrati

[2021-06-21 12:58] #789 closed, assigned to neoaggelos

[2021-08-22 20:43] kwinz commented on #766
Just to clarify: Is this now fixed/implemented in V3?

[2021-09-22 13:32] elka0711 opened #793 "Error fetching device -> Cant delete device from Cluster V2"
How to delete the device in V2 ?
Every time when I click to chose the device, the Error fetching device, pop up

[2021-09-22 13:34] elka0711 commented on #793
![image](https://user-images.githubusercontent.com/34133697/134353502-c637856c-6906-4611-93b0-76c1cd9e3b5d.png)

[2021-09-22 13:35] elka0711 commented on #793
![image](https://user-images.githubusercontent.com/34133697/134353699-d18c3ff6-d7dd-492c-a8a4-92e40c04ee2f.png)

[2021-09-22 13:36] elka0711 commented on #793
So it is not possible to bring the sensor up in Cluster V3.
I believe it is blocked by Cluster V2

[2021-09-22 13:37] elka0711 commented on #793
![image](https://user-images.githubusercontent.com/34133697/134354086-f6eda823-1d10-43ad-b62c-80ece317f8c9.png)

[2021-09-22 13:41] elka0711 commented on #793
Fyi,
I am collaborator, with all rights:

- settings
- delete
- devices
- collaborators

[2021-12-14 09:37] htdvisser commented on #793
With The Things Network V2 shut down, we're going to archive this repository. This issue will be locked.

[2021-12-14 09:37] #793 closed, assigned to nobody

[2021-12-14 09:37] htdvisser commented on #791
With The Things Network V2 shut down, we're going to archive this repository. This issue will be locked.

[2021-12-14 09:37] #791 closed, assigned to nobody